body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6f6; /* 淡いピンク色の背景 */
    color: #333; /* 濃い文字色で視認性を高める */
    text-align: center; /* 中央揃え */
    padding: 20px;
}

#datetime-display {
    font-size: 5vw; /* ビューポート幅に応じてサイズを調整 */
    font-weight: bold;
    color: #d6336c; /* ポップなピンク色 */
    margin-bottom: 20px;
}

/* 曜日ごとの色はそのまま */
.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.weekday {
    color: black;
}

#alarm-form, #alarms-list {
    font-size: 4vw;
    margin-bottom: 20px;
}


/* 以前のスタイル設定はそのまま維持 */

#alarms-table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    font-size: 4vw;
}

#alarms-table thead {
    background-color: #ffc0cb; /* 淡いピンク色 */
}

#alarms-table th, #alarms-table td {
    border: 1px solid #d6336c; /* ポップなピンク色の枠線 */
    padding: 10px;
    text-align: center;
}

#alarms-table td {
    background-color: #f0e6f6; /* 淡い背景色 */
}

/* トグルスイッチのスタイル */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px; /* 幅を少し広げる */
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider:after {
    content: "OFF";
    color: white;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(44px); /* スライダーの移動距離を調整 */
}

input:checked + .slider:after {
    content: "ON";
    left: 10px;
    right: auto;
}



